In [1]:
import os
import sys
import asyncio
import sqlite3
import json
import logging
import re
from typing import Dict, Any, List, Optional
from dotenv import load_dotenv

sys.path.append('../src')
load_dotenv()

# Set up logging
logging.basicConfig(level=logging.INFO, 
                    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# Reduce noise from autogen
logging.getLogger('autogen_core').setLevel(logging.WARNING)

In [2]:
from pathlib import Path
from keyvalue_memory import KeyValueMemory
from task_context_manager import TaskContextManager
from query_tree_manager import QueryTreeManager
from database_schema_manager import DatabaseSchemaManager
from node_history_manager import NodeHistoryManager
from query_analyzer_agent import QueryAnalyzerAgent
from schema_reader import SchemaReader


query = "What is the total number of schools in Alameda County?"
data_path = "/home/norman/work/text-to-sql/MAC-SQL/data/bird"
tables_json_path = Path(data_path) / "dev_tables.json"
db_name = "california_schools"

In [3]:
task_id = "experimental-test"
memory = KeyValueMemory()
        
# Initialize task
task_manager = TaskContextManager(memory)
await task_manager.initialize(task_id, query, db_name)

# Load schema
schema_manager = DatabaseSchemaManager(memory)
await schema_manager.initialize()

schema_reader = SchemaReader(
    data_path=data_path,
    tables_json_path=str(tables_json_path),
    dataset_name="bird",
    lazy=False
)
await schema_manager.load_from_schema_reader(schema_reader, db_name)

2025-05-29 17:11:12,769 - TaskContextManager - INFO - Initialized task context for task experimental-test
2025-05-29 17:11:12,770 - DatabaseSchemaManager - INFO - Initialized empty database schema

load json file from /home/norman/work/text-to-sql/MAC-SQL/data/bird/dev_tables.json

Loading all database info...
Found 11 databases in bird dataset

2025-05-29 17:11:25,282 - DatabaseSchemaManager - INFO - Initialized empty database schema
2025-05-29 17:11:25,282 - DatabaseSchemaManager - INFO - Added table 'frpm' to schema
2025-05-29 17:11:25,283 - DatabaseSchemaManager - INFO - Added table 'satscores' to schema
2025-05-29 17:11:25,284 - DatabaseSchemaManager - INFO - Added table 'schools' to schema
2025-05-29 17:11:25,284 - DatabaseSchemaManager - INFO - Loaded schema for database 'california_schools' with 3 tables

In [4]:
analyzer = QueryAnalyzerAgent(memory, llm_config={
    "model_name": "gpt-4o",
    "temperature": 0.1,
    "timeout": 60
}, debug=True)

2025-05-29 17:11:25,307 - QueryAnalyzerAgent - DEBUG - Created AssistantAgent: query_analyzer
2025-05-29 17:11:25,307 - QueryAnalyzerAgent - DEBUG - Created MemoryAgentTool for query_analyzer
2025-05-29 17:11:25,307 - QueryAnalyzerAgent - INFO - Initialized query_analyzer with model gpt-4o

In [5]:
result = await analyzer.run(query)

2025-05-29 17:11:25,309 - QueryAnalyzerAgent - DEBUG - Query analysis will be schema-agnostic
2025-05-29 17:11:25,309 - QueryAnalyzerAgent - INFO - Query analyzer context prepared with schema length: 9697
2025-05-29 17:11:25,309 - QueryAnalyzerAgent - INFO - query: What is the total number of schools in Alameda County? database: california_schools
2025-05-29 17:11:26,846 - httpx - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2025-05-29 17:11:26,850 - QueryAnalyzerAgent - INFO - Raw LLM output: <analysis>
  <intent>Find the total number of schools located in Alameda County.</intent>
  <complexity>simple</complexity>
  <tables>
    <table name="schools" purpose="To count the number of schools in Alameda County using the 'County' column."/>
  </tables>
</analysis>
2025-05-29 17:11:26,851 - QueryAnalyzerAgent - ERROR - No current node found - orchestrator should have initialized the tree

In [6]:
for message in result.messages:
    print(f"\n[{getattr(message, 'source', 'Unknown')}]:")
    print(message.content)
    print("-" * 40)

[user]:
I'm providing you with context from previous interactions:

### Query
What is the total number of schools in Alameda County?

### Database Id
california_schools

### Schema
<database_schema>
  <table name="frpm">
    <column name="CDSCode">
      <type>text</type>
      <nullable>True</nullable>
      <primary_key>true</primary_key>
      <foreign_key>
        <references_table>schools</references_table>
        <references_column>CDSCode</references_column>
      </foreign_key>
    </column>
    <column name="Academic Year">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="County Code">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District Code">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="School Code">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="County Name">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District Name">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="School Name">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="School Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Educational Option Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="NSLP Provision Status">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter School (Y/N)">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter School Number">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter Funding Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="IRC">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="Low Grade">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="High Grade">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Enrollment (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Free Meal Count (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible Free (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="FRPM Count (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible FRPM (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Enrollment (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Free Meal Count (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible Free (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="FRPM Count (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible FRPM (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="2013-14 CALPADS Fall 1 Certification Status">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
  </table>
  <table name="satscores">
    <column name="cds">
      <type>text</type>
      <nullable>True</nullable>
      <primary_key>true</primary_key>
      <foreign_key>
        <references_table>schools</references_table>
        <references_column>CDSCode</references_column>
      </foreign_key>
    </column>
    <column name="rtype">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="sname">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="dname">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="cname">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="enroll12">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="NumTstTakr">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="AvgScrRead">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="AvgScrMath">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="AvgScrWrite">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="NumGE1500">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
  </table>
  <table name="schools">
    <column name="CDSCode">
      <type>text</type>
      <nullable>True</nullable>
      <primary_key>true</primary_key>
    </column>
    <column name="NCESDist">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="NCESSchool">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="StatusType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="County">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="School">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Street">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="StreetAbr">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="City">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Zip">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="State">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailStreet">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailStrAbr">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailCity">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailZip">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailState">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Phone">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Ext">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Website">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="OpenDate">
      <type>date</type>
      <nullable>True</nullable>
    </column>
    <column name="ClosedDate">
      <type>date</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="CharterNum">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="FundingType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="DOC">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="DOCType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="SOC">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="SOCType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EdOpsCode">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EdOpsName">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EILCode">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EILName">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="GSoffered">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="GSserved">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Virtual">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Magnet">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="Latitude">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Longitude">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmFName1">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmLName1">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmEmail1">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmFName2">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmLName2">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmEmail2">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmFName3">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmLName3">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmEmail3">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="LastUpdate">
      <type>date</type>
      <nullable>True</nullable>
    </column>
  </table>
</database_schema>

What is the total number of schools in Alameda County?
----------------------------------------

[query_analyzer]:
<analysis>
  <intent>Find the total number of schools located in Alameda County.</intent>
  <complexity>simple</complexity>
  <tables>
    <table name="schools" purpose="To count the number of schools in Alameda County using the 'County' column."/>
  </tables>
</analysis>
----------------------------------------