In [1]:
import os
import sys
import asyncio
import sqlite3
import json
import logging
import re
from typing import Dict, Any, List, Optional
from dotenv import load_dotenv

sys.path.append('../src')
load_dotenv()

# Set up logging
logging.basicConfig(level=logging.INFO, 
                    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# Reduce noise from autogen
logging.getLogger('autogen_core').setLevel(logging.WARNING)

In [2]:
from pathlib import Path
from keyvalue_memory import KeyValueMemory
from task_context_manager import TaskContextManager
from query_tree_manager import QueryTreeManager
from database_schema_manager import DatabaseSchemaManager
from node_history_manager import NodeHistoryManager
from query_analyzer_agent import QueryAnalyzerAgent
from schema_reader import SchemaReader
from schema_linker_agent import SchemaLinkerAgent

data_path = "/home/norman/work/text-to-sql/MAC-SQL/data/bird"
tables_json_path = Path(data_path) / "dev_tables.json"
db_name = "california_schools"

In [3]:
task_id = "experimental-test"

query = "What is the highest eligible free rate for K-12 students in schools in Alameda County?"
node_intent = "Find the maximum eligible free rate for K-12 students in schools located in Alameda County"
memory = KeyValueMemory()
        
# Initialize task
task_manager = TaskContextManager(memory)
await task_manager.initialize(task_id, query, db_name)

# Load schema
schema_manager = DatabaseSchemaManager(memory)
await schema_manager.initialize()

schema_reader = SchemaReader(
    data_path=data_path,
    tables_json_path=str(tables_json_path),
    dataset_name="bird",
    lazy=False
)
await schema_manager.load_from_schema_reader(schema_reader, db_name)

tree_manager = QueryTreeManager(memory)
node_id = await tree_manager.initialize(node_intent)

2025-05-25 07:01:13,427 - TaskContextManager - INFO - Initialized task context for task experimental-test
2025-05-25 07:01:13,428 - DatabaseSchemaManager - INFO - Initialized empty database schema

load json file from /home/norman/work/text-to-sql/MAC-SQL/data/bird/dev_tables.json

Loading all database info...
Found 11 databases in bird dataset

2025-05-25 07:01:25,890 - DatabaseSchemaManager - INFO - Initialized empty database schema
2025-05-25 07:01:25,890 - DatabaseSchemaManager - INFO - Added table 'frpm' to schema
2025-05-25 07:01:25,891 - DatabaseSchemaManager - INFO - Added table 'satscores' to schema
2025-05-25 07:01:25,891 - DatabaseSchemaManager - INFO - Added table 'schools' to schema
2025-05-25 07:01:25,891 - DatabaseSchemaManager - INFO - Loaded schema for database 'california_schools' with 3 tables
2025-05-25 07:01:25,892 - QueryTreeManager - INFO - Initialized query tree with root node node_1748170885.892221_root

In [4]:
agent = SchemaLinkerAgent(memory, llm_config={
    "model_name": "gpt-4o",
    "temperature": 0.1,
    "timeout": 60
}, debug=True)

2025-05-25 07:01:31,098 - SchemaLinkerAgent - DEBUG - Created AssistantAgent: schema_linker
2025-05-25 07:01:31,098 - SchemaLinkerAgent - DEBUG - Created MemoryAgentTool for schema_linker
2025-05-25 07:01:31,098 - SchemaLinkerAgent - INFO - Initialized schema_linker with model gpt-4o

In [6]:
result = await agent.run(query)

2025-05-25 07:01:52,787 - SchemaLinkerAgent - DEBUG - Schema linking context prepared for intent: What is the highest eligible free rate for K-12 students in schools in Alameda County?...
2025-05-25 07:01:55,245 - httpx - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2025-05-25 07:01:55,249 - SchemaLinkerAgent - INFO - Stored schema mapping in memory

In [7]:
for message in result.messages:
    print(f"\n[{getattr(message, 'source', 'Unknown')}]:")
    print(message.content)
    print("-" * 40)

[user]:
I'm providing you with context from previous interactions:

### Intent
What is the highest eligible free rate for K-12 students in schools in Alameda County?

### Full Schema
<database_schema>
  <table name="frpm">
    <column name="CDSCode">
      <type>text</type>
      <nullable>True</nullable>
      <primary_key>true</primary_key>
      <foreign_key>
        <references_table>schools</references_table>
        <references_column>CDSCode</references_column>
      </foreign_key>
    </column>
    <column name="Academic Year">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="County Code">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District Code">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="School Code">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="County Name">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District Name">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="School Name">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="School Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Educational Option Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="NSLP Provision Status">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter School (Y/N)">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter School Number">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter Funding Type">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="IRC">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="Low Grade">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="High Grade">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Enrollment (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Free Meal Count (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible Free (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="FRPM Count (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible FRPM (K-12)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Enrollment (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Free Meal Count (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible Free (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="FRPM Count (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Percent (%) Eligible FRPM (Ages 5-17)">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="2013-14 CALPADS Fall 1 Certification Status">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <sample_data>
      <row id="1">
        <Academic Year>2014-2015</Academic Year>
        <County Code>19</County Code>
        <School Code>0000000</School Code>
        <County Name>Los Angeles</County Name>
        <District Type>Unified School District</District Type>
        <School Type>None</School Type>
        <Educational Option Type>None</Educational Option Type>
        <NSLP Provision Status>None</NSLP Provision Status>
        <Charter School (Y/N)>None</Charter School (Y/N)>
        <Charter School Number>None</Charter School Number>
        <Charter Funding Type>None</Charter Funding Type>
        <IRC>None</IRC>
        <Low Grade>K</Low Grade>
        <High Grade>12</High Grade>
        <2013-14 CALPADS Fall 1 Certification Status>1</2013-14 CALPADS Fall 1 Certification Status>
      </row>
      <row id="2">
        <County Code>37</County Code>
        <School Code>9010745</School Code>
        <County Name>San Diego</County Name>
        <District Type>Elementary School District</District Type>
        <School Type>Elementary Schools (Public)</School Type>
        <Educational Option Type>Traditional</Educational Option Type>
        <NSLP Provision Status>Provision 2</NSLP Provision Status>
        <Charter School (Y/N)>0</Charter School (Y/N)>
        <Charter School Number>00D2</Charter School Number>
        <Charter Funding Type>Directly funded</Charter Funding Type>
        <IRC>0</IRC>
        <Low Grade>9</Low Grade>
        <High Grade>5</High Grade>
      </row>
      <row id="3">
        <County Code>30</County Code>
        <School Code>6121081</School Code>
        <County Name>Orange</County Name>
        <District Type>High School District</District Type>
        <School Type>High Schools (Public)</School Type>
        <Educational Option Type>Continuation School</Educational Option Type>
        <NSLP Provision Status>Breakfast Provision 2</NSLP Provision Status>
        <Charter School (Y/N)>1</Charter School (Y/N)>
        <Charter School Number>0756</Charter School Number>
        <Charter Funding Type>Locally funded</Charter Funding Type>
        <IRC>1</IRC>
        <Low Grade>6</Low Grade>
        <High Grade>8</High Grade>
      </row>
    </sample_data>
  </table>
  <table name="satscores">
    <column name="cds">
      <type>text</type>
      <nullable>True</nullable>
      <primary_key>true</primary_key>
      <foreign_key>
        <references_table>schools</references_table>
        <references_column>CDSCode</references_column>
      </foreign_key>
    </column>
    <column name="rtype">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="sname">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="dname">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="cname">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="enroll12">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="NumTstTakr">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="AvgScrRead">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="AvgScrMath">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="AvgScrWrite">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="NumGE1500">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <sample_data>
      <row id="1">
        <rtype>S</rtype>
        <sname>None</sname>
        <dname>Los Angeles Unified</dname>
        <cname>Los Angeles</cname>
      </row>
      <row id="2">
        <rtype>D</rtype>
        <sname>Middle College High</sname>
        <dname>San Diego Unified</dname>
        <cname>San Diego</cname>
      </row>
      <row id="3">
        <sname>John F. Kennedy High</sname>
        <dname>Oakland Unified</dname>
        <cname>San Bernardino</cname>
      </row>
    </sample_data>
  </table>
  <table name="schools">
    <column name="CDSCode">
      <type>text</type>
      <nullable>True</nullable>
      <primary_key>true</primary_key>
    </column>
    <column name="NCESDist">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="NCESSchool">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="StatusType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="County">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="District">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="School">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Street">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="StreetAbr">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="City">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Zip">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="State">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailStreet">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailStrAbr">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailCity">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailZip">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="MailState">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Phone">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Ext">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Website">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="OpenDate">
      <type>date</type>
      <nullable>True</nullable>
    </column>
    <column name="ClosedDate">
      <type>date</type>
      <nullable>True</nullable>
    </column>
    <column name="Charter">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="CharterNum">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="FundingType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="DOC">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="DOCType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="SOC">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="SOCType">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EdOpsCode">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EdOpsName">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EILCode">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="EILName">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="GSoffered">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="GSserved">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Virtual">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="Magnet">
      <type>integer</type>
      <nullable>True</nullable>
    </column>
    <column name="Latitude">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="Longitude">
      <type>real</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmFName1">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmLName1">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmEmail1">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmFName2">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmLName2">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmEmail2">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmFName3">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmLName3">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="AdmEmail3">
      <type>text</type>
      <nullable>True</nullable>
    </column>
    <column name="LastUpdate">
      <type>date</type>
      <nullable>True</nullable>
    </column>
    <sample_data>
      <row id="1">
        <NCESDist>None</NCESDist>
        <NCESSchool>None</NCESSchool>
        <StatusType>Active</StatusType>
        <County>Los Angeles</County>
        <City>None</City>
        <Zip>None</Zip>
        <State>None</State>
        <MailCity>None</MailCity>
        <MailZip>None</MailZip>
        <MailState>None</MailState>
        <Phone>None</Phone>
        <Ext>None</Ext>
        <OpenDate>None</OpenDate>
        <ClosedDate>None</ClosedDate>
        <Charter>None</Charter>
        <CharterNum>None</CharterNum>
        <FundingType>None</FundingType>
        <DOC>54</DOC>
        <DOCType>Unified School District</DOCType>
        <SOC>None</SOC>
        <SOCType>None</SOCType>
        <EdOpsCode>None</EdOpsCode>
        <EdOpsName>None</EdOpsName>
        <EILCode>None</EILCode>
        <EILName>None</EILName>
        <GSoffered>None</GSoffered>
        <GSserved>None</GSserved>
        <Virtual>None</Virtual>
        <Magnet>None</Magnet>
        <AdmFName1>None</AdmFName1>
        <AdmFName2>None</AdmFName2>
        <AdmLName2>None</AdmLName2>
        <AdmFName3>None</AdmFName3>
        <AdmLName3>None</AdmLName3>
        <LastUpdate>2015-06-18</LastUpdate>
      </row>
      <row id="2">
        <NCESDist>0622710</NCESDist>
        <NCESSchool>12271</NCESSchool>
        <StatusType>Closed</StatusType>
        <County>San Diego</County>
        <City>Los Angeles</City>
        <Zip>91723</Zip>
        <State>CA</State>
        <MailCity>Los Angeles</MailCity>
        <MailZip>94606</MailZip>
        <MailState>CA</MailState>
        <Phone>(805) 581-0202</Phone>
        <Ext>200</Ext>
        <OpenDate>1980-07-01</OpenDate>
        <ClosedDate>1989-06-30</ClosedDate>
        <Charter>0</Charter>
        <CharterNum>00D2</CharterNum>
        <FundingType>Directly funded</FundingType>
        <DOC>52</DOC>
        <DOCType>Elementary School District</DOCType>
        <SOC>60</SOC>
        <SOCType>Elementary Schools (Public)</SOCType>
        <EdOpsCode>TRAD</EdOpsCode>
        <EdOpsName>Traditional</EdOpsName>
        <EILCode>ELEM</EILCode>
        <EILName>Elementary</EILName>
        <GSoffered>K-5</GSoffered>
        <GSserved>K-5</GSserved>
        <Virtual>N</Virtual>
        <Magnet>0</Magnet>
        <AdmFName1>David</AdmFName1>
        <AdmFName2>Steve</AdmFName2>
        <AdmLName2>Sherman</AdmLName2>
        <AdmFName3>Mark</AdmFName3>
        <AdmLName3>Zerpoli</AdmLName3>
      </row>
      <row id="3">
        <NCESDist>0634320</NCESDist>
        <NCESSchool>13785</NCESSchool>
        <StatusType>Merged</StatusType>
        <County>Orange</County>
        <City>San Diego</City>
        <Zip>95959</Zip>
        <MailCity>San Diego</MailCity>
        <MailZip>91710-4130</MailZip>
        <Phone>(619) 243-5014</Phone>
        <Ext>201</Ext>
        <Charter>1</Charter>
        <CharterNum>0756</CharterNum>
        <FundingType>Locally funded</FundingType>
        <DOC>00</DOC>
        <DOCType>County Office of Education (COE)</DOCType>
        <SOC>66</SOC>
        <SOCType>High Schools (Public)</SOCType>
        <EdOpsCode>CON</EdOpsCode>
        <EdOpsName>Continuation School</EdOpsName>
        <EILCode>HS</EILCode>
        <EILName>High School</EILName>
        <GSoffered>9-12</GSoffered>
        <GSserved>K-6</GSserved>
        <Virtual>P</Virtual>
        <Magnet>1</Magnet>
        <AdmFName1>Michael</AdmFName1>
        <AdmFName2>Delphine</AdmFName2>
        <AdmLName2>Jones</AdmLName2>
        <AdmFName3>Eric</AdmFName3>
        <AdmLName3>Yount</AdmLName3>
      </row>
    </sample_data>
  </table>
</database_schema>

What is the highest eligible free rate for K-12 students in schools in Alameda County?
----------------------------------------

[schema_linker]:
```xml
<schema_linking>
  <selected_tables>
    <table name="frpm" alias="f">
      <purpose>To find the highest eligible free rate for K-12 students in Alameda County</purpose>
      <columns>
        <column name="County Name" used_for="filter">
          <reason>To filter the records for Alameda County</reason>
        </column>
        <column name="Percent (%) Eligible Free (K-12)" used_for="aggregate">
          <reason>To determine the highest eligible free rate for K-12 students</reason>
        </column>
      </columns>
    </table>
  </selected_tables>
  <joins/>
  <sample_query_pattern>
    SELECT MAX(f."Percent (%) Eligible Free (K-12)")
    FROM frpm AS f
    WHERE f."County Name" = 'Alameda'
  </sample_query_pattern>
</schema_linking>
```
----------------------------------------