In [1]:
import os
import sys
import asyncio
import sqlite3
import json
import logging
import re
from typing import Dict, Any, List, Optional
from dotenv import load_dotenv

sys.path.append('../src')
load_dotenv()

# Set up logging
logging.basicConfig(level=logging.INFO, 
                    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# Reduce noise from autogen
logging.getLogger('autogen_core').setLevel(logging.WARNING)

In [2]:
from pathlib import Path
from keyvalue_memory import KeyValueMemory
from task_context_manager import TaskContextManager
from query_tree_manager import QueryTreeManager
from database_schema_manager import DatabaseSchemaManager
from node_history_manager import NodeHistoryManager
from query_analyzer_agent import QueryAnalyzerAgent
from schema_reader import SchemaReader
from schema_linker_agent import SchemaLinkerAgent

data_path = "/home/norman/work/text-to-sql/MAC-SQL/data/bird"
tables_json_path = Path(data_path) / "dev_tables.json"
db_name = "california_schools"

In [3]:
task_id = "experimental-test"

query = "What is the highest eligible free rate for K-12 students in schools in Alameda County?"
node_intent = "Find the maximum eligible free rate for K-12 students in schools located in Alameda County"
memory = KeyValueMemory()
        
# Initialize task
task_manager = TaskContextManager(memory)
await task_manager.initialize(task_id, query, db_name)

# Load schema
schema_manager = DatabaseSchemaManager(memory)
await schema_manager.initialize()

schema_reader = SchemaReader(
    data_path=data_path,
    tables_json_path=str(tables_json_path),
    dataset_name="bird",
    lazy=False
)
await schema_manager.load_from_schema_reader(schema_reader, db_name)

tree_manager = QueryTreeManager(memory)
node_id = await tree_manager.initialize(query)

2025-05-29 17:06:22,814 - TaskContextManager - INFO - Initialized task context for task experimental-test
2025-05-29 17:06:22,815 - DatabaseSchemaManager - INFO - Initialized empty database schema

load json file from /home/norman/work/text-to-sql/MAC-SQL/data/bird/dev_tables.json

Loading all database info...
Found 11 databases in bird dataset

2025-05-29 17:06:35,349 - DatabaseSchemaManager - INFO - Initialized empty database schema
2025-05-29 17:06:35,350 - DatabaseSchemaManager - INFO - Added table 'frpm' to schema
2025-05-29 17:06:35,350 - DatabaseSchemaManager - INFO - Added table 'satscores' to schema
2025-05-29 17:06:35,351 - DatabaseSchemaManager - INFO - Added table 'schools' to schema
2025-05-29 17:06:35,351 - DatabaseSchemaManager - INFO - Loaded schema for database 'california_schools' with 3 tables
2025-05-29 17:06:35,351 - QueryTreeManager - INFO - Initialized query tree with root node root

In [5]:
# await memory.get('databaseSchema')

In [6]:
agent = SchemaLinkerAgent(memory, llm_config={
    "model_name": "gpt-4o",
    "temperature": 0.1,
    "timeout": 60
}, debug=True)

2025-05-29 17:08:38,606 - SchemaLinkerAgent - DEBUG - Created AssistantAgent: schema_linker
2025-05-29 17:08:38,607 - SchemaLinkerAgent - DEBUG - Created MemoryAgentTool for schema_linker
2025-05-29 17:08:38,607 - SchemaLinkerAgent - INFO - Initialized schema_linker with model gpt-4o

In [7]:
result = await agent.run(query)

2025-05-29 17:08:39,622 - SchemaLinkerAgent - INFO - Available tables in schema: ['frpm', 'satscores', 'schools']
2025-05-29 17:08:39,623 - SchemaLinkerAgent - INFO - Schema linking context prepared for node: root
2025-05-29 17:08:39,623 - SchemaLinkerAgent - INFO - Node details: {'nodeId': 'root', 'status': 'created', 'childIds': [], 'intent': 'What is the highest eligible free rate for K-12 students in schools in Alameda County?', 'schema_linking': {}, 'generation': {}, 'evaluation': {}}
2025-05-29 17:08:52,361 - httpx - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2025-05-29 17:08:52,365 - SchemaLinkerAgent - INFO - Raw LLM output: ```xml
<schema_linking>
  <available_schema>
    <tables>
      <table name="frpm">
        <columns>
          <column name="CDSCode" type="text" sample_values="['01', '02', '03']"/>
          <column name="County Name" type="text" sample_values="['Los Angeles', 'San Diego', 'Alameda']"/>
          <column name="School Type" type="text" sample_values="['Elementary Schools (Public)', 'K-12 Schools (Public)']"/>
          <column name="Percent (%) Eligible Free (K-12)" type="real" sample_values="[10.5, 20.0, 30.0]"/>
        </columns>
      </table>
      <table name="schools">
        <columns>
          <column name="CDSCode" type="text" sample_values="['01', '02', '03']"/>
          <column name="County" type="text" sample_values="['Los Angeles', 'San Diego', 'Alameda']"/>
        </columns>
      </table>
    </tables>
  </available_schema>

  <column_discovery>
    <query_term original="highest eligible free rate for K-12 students">
      <all_candidates>
        <candidate table="frpm" column="Percent (%) Eligible Free (K-12)" confidence="high">
          <typical_values><![CDATA[[10.5, 20.0, 30.0]]]></typical_values>
          <exact_match_value>30.0</exact_match_value>
          <reason>Exact match found in typical_values</reason>
        </candidate>
      </all_candidates>
      <selected_columns>
        <column table="frpm" column="Percent (%) Eligible Free (K-12)">
          <exact_value>30.0</exact_value>
          <reason>Selected because of exact value match and single-table solution possible</reason>
        </column>
      </selected_columns>
    </query_term>
    <query_term original="schools in Alameda County">
      <all_candidates>
        <candidate table="frpm" column="County Name" confidence="high">
          <typical_values><![CDATA[['Los Angeles', 'San Diego', 'Alameda']]]></typical_values>
          <exact_match_value>Alameda</exact_match_value>
          <reason>Exact match found in typical_values</reason>
        </candidate>
        <candidate table="schools" column="County" confidence="high">
          <typical_values><![CDATA[['Los Angeles', 'San Diego', 'Alameda']]]></typical_values>
          <exact_match_value>Alameda</exact_match_value>
          <reason>Exact match found in typical_values</reason>
        </candidate>
      </all_candidates>
      <selected_columns>
        <column table="frpm" column="County Name">
          <exact_value>Alameda</exact_value>
          <reason>Selected because of exact value match and single-table solution possible</reason>
        </column>
      </selected_columns>
    </query_term>
  </column_discovery>

  <single_table_analysis>
    <possible>true</possible>
    <best_single_table>frpm</best_single_table>
    <reason>All required columns are available in the 'frpm' table, allowing for a single-table solution.</reason>
  </single_table_analysis>

  <selected_tables>
    <table name="frpm" alias="f">
      <purpose>To find the highest eligible free rate for K-12 students in Alameda County</purpose>
      <single_table_solution>true</single_table_solution>
      <columns>
        <column name="Percent (%) Eligible Free (K-12)" used_for="select">
          <reason>Needed to determine the highest eligible free rate</reason>
        </column>
        <column name="County Name" used_for="filter">
          <reason>Needed to filter schools located in Alameda County</reason>
        </column>
      </columns>
    </table>
  </selected_tables>

  <joins/>

  <sample_query_pattern>
    SELECT MAX(f."Percent (%) Eligible Free (K-12)")
    FROM frpm f
    WHERE f."County Name" = 'Alameda'
  </sample_query_pattern>
</schema_linking>
```
2025-05-29 17:08:52,366 - QueryTreeManager - INFO - Updated node root
2025-05-29 17:08:52,366 - SchemaLinkerAgent - INFO - Stored schema linking result in query tree node root
2025-05-29 17:08:52,366 - NodeHistoryManager - INFO - Recorded create operation for node root
2025-05-29 17:08:52,367 - SchemaLinkerAgent - INFO - ============================================================
2025-05-29 17:08:52,367 - SchemaLinkerAgent - INFO - Schema Linking
2025-05-29 17:08:52,367 - SchemaLinkerAgent - INFO - Query intent: What is the highest eligible free rate for K-12 students in schools in Alameda County?
2025-05-29 17:08:52,367 - SchemaLinkerAgent - INFO - Column Discovery Process:
2025-05-29 17:08:52,368 - SchemaLinkerAgent - INFO -   {'query_term': [{'original': 'highest eligible free rate for K-12 students', 'all_candidates': {'candidate': {'table': 'frpm', 'column': 'Percent (%) Eligible Free (K-12)', 'confidence': 'high', 'typical_values': '[10.5, 20.0, 30.0]', 'exact_match_value': '30.0', 'reason': 'Exact match found in typical_values'}}, 'selected_columns': {'column': {'table': 'frpm', 'column': 'Percent (%) Eligible Free (K-12)', 'exact_value': '30.0', 'reason': 'Selected because of exact value match and single-table solution possible'}}}, {'original': 'schools in Alameda County', 'all_candidates': {'candidate': [{'table': 'frpm', 'column': 'County Name', 'confidence': 'high', 'typical_values': "['Los Angeles', 'San Diego', 'Alameda']", 'exact_match_value': 'Alameda', 'reason': 'Exact match found in typical_values'}, {'table': 'schools', 'column': 'County', 'confidence': 'high', 'typical_values': "['Los Angeles', 'San Diego', 'Alameda']", 'exact_match_value': 'Alameda', 'reason': 'Exact match found in typical_values'}]}, 'selected_columns': {'column': {'table': 'frpm', 'column': 'County Name', 'exact_value': 'Alameda', 'reason': 'Selected because of exact value match and single-table solution possible'}}}]}
2025-05-29 17:08:52,368 - SchemaLinkerAgent - INFO - Linked 1 table(s):
2025-05-29 17:08:52,368 - SchemaLinkerAgent - INFO -   - frpm: To find the highest eligible free rate for K-12 students in Alameda County
2025-05-29 17:08:52,368 - SchemaLinkerAgent - INFO - ============================================================
2025-05-29 17:08:52,368 - SchemaLinkerAgent - INFO - Updated node root with schema mapping

In [8]:
for message in result.messages:
    print(f"\n[{getattr(message, 'source', 'Unknown')}]:")
    print(message.content)
    print("-" * 40)

[user]:
I'm providing you with context from previous interactions:

### Original Query
What is the highest eligible free rate for K-12 students in schools in Alameda County?

### Database Name
california_schools

### Current Node
{
  "nodeId": "root",
  "status": "created",
  "childIds": [],
  "intent": "What is the highest eligible free rate for K-12 students in schools in Alameda County?",
  "schema_linking": {},
  "generation": {},
  "evaluation": {}
}

### Full Schema
<database_schema>
  <total_tables>3</total_tables>
  <tables>
    <table name="frpm">
      <column_count>29</column_count>
      <columns>
        <column name="CDSCode">
          <type>text</type>
          <nullable>True</nullable>
          <primary_key>true</primary_key>
          <foreign_key>
            <references_table>schools</references_table>
            <references_column>CDSCode</references_column>
          </foreign_key>
        </column>
        <column name="Academic Year">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[2014-2015]]></value>
          </typical_values>
        </column>
        <column name="County Code">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[19]]></value>
            <value><![CDATA[37]]></value>
            <value><![CDATA[30]]></value>
            <value><![CDATA[36]]></value>
            <value><![CDATA[33]]></value>
            <value><![CDATA[43]]></value>
          </typical_values>
        </column>
        <column name="District Code">
          <type>integer</type>
          <nullable>True</nullable>
        </column>
        <column name="School Code">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[0000000]]></value>
            <value><![CDATA[9010745]]></value>
            <value><![CDATA[6121081]]></value>
            <value><![CDATA[6121073]]></value>
            <value><![CDATA[6121016]]></value>
            <value><![CDATA[6120968]]></value>
          </typical_values>
        </column>
        <column name="County Name">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[Los Angeles]]></value>
            <value><![CDATA[San Diego]]></value>
            <value><![CDATA[Orange]]></value>
            <value><![CDATA[San Bernardino]]></value>
            <value><![CDATA[Riverside]]></value>
            <value><![CDATA[Santa Clara]]></value>
          </typical_values>
        </column>
        <column name="District Name">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="School Name">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="District Type">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[Unified School District]]></value>
            <value><![CDATA[Elementary School District]]></value>
            <value><![CDATA[High School District]]></value>
            <value><![CDATA[County Office of Education (COE)]]></value>
            <value><![CDATA[State Board of Education]]></value>
            <value><![CDATA[Statewide Benefit Charter]]></value>
          </typical_values>
        </column>
        <column name="School Type">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Elementary Schools (Public)]]></value>
            <value><![CDATA[High Schools (Public)]]></value>
            <value><![CDATA[Intermediate/Middle Schools (Public)]]></value>
            <value><![CDATA[Continuation High Schools]]></value>
            <value><![CDATA[Alternative Schools of Choice]]></value>
            <value><![CDATA[K-12 Schools (Public)]]></value>
          </typical_values>
        </column>
        <column name="Educational Option Type">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Traditional]]></value>
            <value><![CDATA[Continuation School]]></value>
            <value><![CDATA[Alternative School of Choice]]></value>
            <value><![CDATA[Community Day School]]></value>
            <value><![CDATA[Special Education School]]></value>
            <value><![CDATA[County Community School]]></value>
          </typical_values>
        </column>
        <column name="NSLP Provision Status">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Provision 2]]></value>
            <value><![CDATA[Breakfast Provision 2]]></value>
            <value><![CDATA[CEP]]></value>
            <value><![CDATA[Multiple Provision Types]]></value>
            <value><![CDATA[Provision 1]]></value>
            <value><![CDATA[Lunch Provision 2]]></value>
          </typical_values>
        </column>
        <column name="Charter School (Y/N)">
          <type>integer</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[0]]></value>
            <value><![CDATA[1]]></value>
          </typical_values>
        </column>
        <column name="Charter School Number">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[00D2]]></value>
            <value><![CDATA[0756]]></value>
            <value><![CDATA[00D4]]></value>
            <value><![CDATA[00D1]]></value>
            <value><![CDATA[1700]]></value>
            <value><![CDATA[1696]]></value>
          </typical_values>
        </column>
        <column name="Charter Funding Type">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Directly funded]]></value>
            <value><![CDATA[Locally funded]]></value>
            <value><![CDATA[Not in CS funding model]]></value>
          </typical_values>
        </column>
        <column name="IRC">
          <type>integer</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[0]]></value>
            <value><![CDATA[1]]></value>
          </typical_values>
        </column>
        <column name="Low Grade">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[K]]></value>
            <value><![CDATA[9]]></value>
            <value><![CDATA[6]]></value>
            <value><![CDATA[7]]></value>
            <value><![CDATA[P]]></value>
            <value><![CDATA[5]]></value>
          </typical_values>
        </column>
        <column name="High Grade">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[12]]></value>
            <value><![CDATA[5]]></value>
            <value><![CDATA[8]]></value>
            <value><![CDATA[6]]></value>
            <value><![CDATA[3]]></value>
            <value><![CDATA[4]]></value>
          </typical_values>
        </column>
        <column name="Enrollment (K-12)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="Free Meal Count (K-12)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="Percent (%) Eligible Free (K-12)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="FRPM Count (K-12)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="Percent (%) Eligible FRPM (K-12)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="Enrollment (Ages 5-17)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="Free Meal Count (Ages 5-17)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="Percent (%) Eligible Free (Ages 5-17)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="FRPM Count (Ages 5-17)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="Percent (%) Eligible FRPM (Ages 5-17)">
          <type>real</type>
          <nullable>True</nullable>
        </column>
        <column name="2013-14 CALPADS Fall 1 Certification Status">
          <type>integer</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[1]]></value>
          </typical_values>
        </column>
      </columns>
    </table>
    <table name="satscores">
      <column_count>11</column_count>
      <columns>
        <column name="cds">
          <type>text</type>
          <nullable>True</nullable>
          <primary_key>true</primary_key>
          <foreign_key>
            <references_table>schools</references_table>
            <references_column>CDSCode</references_column>
          </foreign_key>
        </column>
        <column name="rtype">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[S]]></value>
            <value><![CDATA[D]]></value>
          </typical_values>
        </column>
        <column name="sname">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Middle College High]]></value>
            <value><![CDATA[John F. Kennedy High]]></value>
            <value><![CDATA[Independence High]]></value>
            <value><![CDATA[Foothill High]]></value>
            <value><![CDATA[Washington High]]></value>
            <value><![CDATA[Redwood High]]></value>
          </typical_values>
        </column>
        <column name="dname">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[Los Angeles Unified]]></value>
            <value><![CDATA[San Diego Unified]]></value>
            <value><![CDATA[Oakland Unified]]></value>
            <value><![CDATA[San Francisco Unified]]></value>
            <value><![CDATA[Kern High]]></value>
            <value><![CDATA[East Side Union High]]></value>
          </typical_values>
        </column>
        <column name="cname">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[Los Angeles]]></value>
            <value><![CDATA[San Diego]]></value>
            <value><![CDATA[San Bernardino]]></value>
            <value><![CDATA[Riverside]]></value>
            <value><![CDATA[Orange]]></value>
            <value><![CDATA[Alameda]]></value>
          </typical_values>
        </column>
        <column name="enroll12">
          <type>integer</type>
          <nullable>True</nullable>
        </column>
        <column name="NumTstTakr">
          <type>integer</type>
          <nullable>True</nullable>
        </column>
        <column name="AvgScrRead">
          <type>integer</type>
          <nullable>True</nullable>
        </column>
        <column name="AvgScrMath">
          <type>integer</type>
          <nullable>True</nullable>
        </column>
        <column name="AvgScrWrite">
          <type>integer</type>
          <nullable>True</nullable>
        </column>
        <column name="NumGE1500">
          <type>integer</type>
          <nullable>True</nullable>
        </column>
      </columns>
    </table>
    <table name="schools">
      <column_count>49</column_count>
      <columns>
        <column name="CDSCode">
          <type>text</type>
          <nullable>True</nullable>
          <primary_key>true</primary_key>
        </column>
        <column name="NCESDist">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[0622710]]></value>
            <value><![CDATA[0634320]]></value>
            <value><![CDATA[0628050]]></value>
            <value><![CDATA[0634410]]></value>
            <value><![CDATA[0614550]]></value>
            <value><![CDATA[0633840]]></value>
          </typical_values>
        </column>
        <column name="NCESSchool">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[12271]]></value>
            <value><![CDATA[13785]]></value>
            <value><![CDATA[13747]]></value>
            <value><![CDATA[12909]]></value>
            <value><![CDATA[12311]]></value>
            <value><![CDATA[12003]]></value>
          </typical_values>
        </column>
        <column name="StatusType">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[Active]]></value>
            <value><![CDATA[Closed]]></value>
            <value><![CDATA[Merged]]></value>
            <value><![CDATA[Pending]]></value>
          </typical_values>
        </column>
        <column name="County">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value><![CDATA[Los Angeles]]></value>
            <value><![CDATA[San Diego]]></value>
            <value><![CDATA[Orange]]></value>
            <value><![CDATA[San Bernardino]]></value>
            <value><![CDATA[Santa Clara]]></value>
            <value><![CDATA[Alameda]]></value>
          </typical_values>
        </column>
        <column name="District">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="School">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="Street">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="StreetAbr">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="City">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Los Angeles]]></value>
            <value><![CDATA[San Diego]]></value>
            <value><![CDATA[San Jose]]></value>
            <value><![CDATA[Sacramento]]></value>
            <value><![CDATA[Fresno]]></value>
            <value><![CDATA[Oakland]]></value>
          </typical_values>
        </column>
        <column name="Zip">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[91723]]></value>
            <value><![CDATA[95959]]></value>
            <value><![CDATA[94558]]></value>
            <value><![CDATA[92345]]></value>
            <value><![CDATA[90278]]></value>
            <value><![CDATA[90266]]></value>
          </typical_values>
        </column>
        <column name="State">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[CA]]></value>
          </typical_values>
        </column>
        <column name="MailStreet">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="MailStrAbr">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="MailCity">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Los Angeles]]></value>
            <value><![CDATA[San Diego]]></value>
            <value><![CDATA[San Jose]]></value>
            <value><![CDATA[Sacramento]]></value>
            <value><![CDATA[Oakland]]></value>
            <value><![CDATA[Fresno]]></value>
          </typical_values>
        </column>
        <column name="MailZip">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[94606]]></value>
            <value><![CDATA[91710-4130]]></value>
            <value><![CDATA[92626-4300]]></value>
            <value><![CDATA[90266]]></value>
            <value><![CDATA[95336-0032]]></value>
            <value><![CDATA[92084]]></value>
          </typical_values>
        </column>
        <column name="MailState">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[CA]]></value>
          </typical_values>
        </column>
        <column name="Phone">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[(805) 581-0202]]></value>
            <value><![CDATA[(619) 243-5014]]></value>
            <value><![CDATA[(562) 698-8121]]></value>
            <value><![CDATA[(559) 683-4667]]></value>
            <value><![CDATA[(650) 329-2800]]></value>
            <value><![CDATA[(530) 625-5600]]></value>
          </typical_values>
        </column>
        <column name="Ext">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[200]]></value>
            <value><![CDATA[201]]></value>
            <value><![CDATA[111]]></value>
            <value><![CDATA[352]]></value>
            <value><![CDATA[221]]></value>
            <value><![CDATA[203]]></value>
          </typical_values>
        </column>
        <column name="Website">
          <type>text</type>
          <nullable>True</nullable>
        </column>
        <column name="OpenDate">
          <type>date</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[1980-07-01]]></value>
          </typical_values>
        </column>
        <column name="ClosedDate">
          <type>date</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[1989-06-30]]></value>
          </typical_values>
        </column>
        <column name="Charter">
          <type>integer</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[0]]></value>
            <value><![CDATA[1]]></value>
          </typical_values>
        </column>
        <column name="CharterNum">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[00D2]]></value>
            <value><![CDATA[0756]]></value>
            <value><![CDATA[00D4]]></value>
            <value><![CDATA[00D1]]></value>
            <value><![CDATA[1826]]></value>
            <value><![CDATA[1710]]></value>
          </typical_values>
        </column>
        <column name="FundingType">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>
            <value null="true"/>
            <value><![CDATA[Directly funded]]></value>
            <value><![CDATA[Locally funded]]></value>
            <value><![CDATA[Not in CS funding model]]></value>
          </typical_values>
        </column>
        <column name="DOC">
          <type>text</type>
          <nullable>True</nullable>
          <typical_values>